<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/home.css" />
    <title>Home</title>
  </head>

  <body>
    <div id="main">
      <img src="images/chitkara.png" alt="chitkara" />

      <br />

      <form action="/" method="POST">
        <div id="main-buttons-div">
          <button type="submit" name="route" value="entry">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check In
          </button>
          <button type="submit" name="route" value="exit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Check Out
          </button>
        </div>
        <div id="search-box-outer">
          <input id="input" class="search-box-inner"  name="number" placeholder="For Information" />
        </div>
        <button id="info" type="submit" name="route" value="info">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Check
        </button>

        <br />
      </form>
    </div>
    <footer class="footer">
      <hr />
      <div class="icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <p class="company-name">chitkara &copy; 2021, ALL Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>